<p id="notice"><%= notice %></p>

<p><%= @broadcast.broadcast_date %></p>
<p><%= @broadcast.session_name %></p>
<p><%= @broadcast.part1title %></p>
<p><%= @broadcast.part2title %></p>
<p><%= @broadcast.part3title %></p>
<p><%= @broadcast.part4title %></p>
<p><%= @broadcast.ra1 %></p>
<p><%= @broadcast.ra2 %></p>
<p><%= @broadcast.ra3 %></p>

<%= link_to 'Back', broadcasts_path %>
